body
{
    font-family: Helvetica, sans-serif;
    background-color: #F7EBE8;
    color: #444140;
    margin-left: 150px;
	margin-right: 150px;
}

header, footer
{
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}