body
{
    font-family: Helvetica, sans-serif;
    background-color: #F7EBE8;
    color: #444140;
    margin-left: 120px;
	margin-right: 120px;
}

header, footer
{
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

main 
{
    margin-left: 120px;
    margin-right: 120px;
}

h1, h2, h3
{
    text-align: center;
}

a
{
	text-decoration: none;
	color: #B20D30;
	font-weight: bold;
}

a:hover
{
	text-decoration: underline;
	color: #DB5461;
}

figure
{
	text-align: center;
}

figcaption
{
	font-style: italic;
}

nav
{
	text-align: center;
}

table, th, td {
	border: 1px solid;
  }

.center
{
	text-align: center;
}

form
{
	text-align: center;
	display: inline-block;
	background-color: aliceblue;
	line-height: 30px;
}

button
{
	background-color: gray;
}