@import url('https://fonts.googleapis.com/css?family=DM%20Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open%20Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

body
{
    font-family: "Inter";
    background-color: #5E6572;
    color: #EEF1EF;
    margin-left: 80px;
	margin-right: 80px;
}

header, footer
{
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

main 
{
    margin-left: 50px;
    margin-right: 50px;
	padding: 80px;
    padding-top: 20px;
    padding-bottom: 40px;
	background-color: #A9B4C2;
	border: 2px solid #EAB464;
	border-radius: 8px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1{
    font-size: 60px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 20px;
}


h1, h2, h3
{
    text-align: center;
}

h1, h2, h3, h4
{
	font-family: "DM Sans", sans-serif;
}

p
{
	font-family: "Open Sans", sans-serif;
    line-height: 1.6;
    font-size: 17px;
}

a
{
	text-decoration: none;
	color: #7D98A1;
	font-weight: bold;
}

a:hover
{
	text-decoration: underline;
	color: #EAB464;
}

figure
{
	text-align: center;
}

figcaption
{
	font-style: italic;
}

header nav ul{
    list-style-type: none;
    box-sizing: border-box;
    background-color: #7D98A1;
    border: 2px solid #141414;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 0;
    overflow: hidden;
    float: center;
}
footer nav ul{
    list-style-type: none;
    border: 2px solid #141414;
    border-radius: 10px;
    margin: 50px;
    padding: 0;
    overflow: hidden;
    background-color: #7D98A1;
}

nav li{
    float: left;
    border-right: 2px solid #141414;
}
nav li a{
    display: block;
    color: #EBEBEB;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover{
    background-color: #92b1bb;
}

.center
{
    text-align: center;
}

.margincenter
{
    margin: auto;
}

form
{
	text-align: center;
	display: inline-block;
	background-color: #53656b;
	line-height: 30px;
	padding: 20px;
    margin: auto;
}

button {
    background: #EAB464;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    padding: 16px;
    width: 120px;
    color: #fff;
  }

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  .mySlides {
    display: none;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .card {
    padding: 20px;
    position: relative;
    color: #fff;
    transition: transform 0.1s ease;
    transform-style: preserve-3d;
    will-change: transform;
  }
  
  .card:hover .content {
    transform: translateZ(12px);
  }
  
  .content {
    position: relative;
    z-index: 1;
    transition: transform 0.3s ease;
  }