<header>
    <h1>ITIS 3135 | William Zhang</h1>
    <nav>
        <a href="index.html">Home</a> 
        |
        <a href="introduction.html">Introduction</a> 
        |
        <a href="contract.html">Contract</a>
        |
        <a href="http://webpages.uncc.edu/wzhang26/stuff/INDEX😈.htm">CRAPPY Webpage</a>
        |
        <a href="tables.html">Tables</a> 
        |
        <a href="forms.html">Forms</a> 
        |
        <a href="website_evaluations.html">Website Evaluations</a> 
        |
        <a href="firstscripts.html">First Scripts</a>
        |
        <a href="polygons.html">Polygon</a>
    </nav>
</header>